:root {
    --primary-color: rgb(206, 226, 50);
    --secondary-color: #505160;
    --tertiary-color: #68829e;
    --quaternary-color: #272833;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    /* color: var(--tertiary-color); */
    font-family: Helvetica, Arial, sans-serif;
  }
/* HEADER / NAV BAR STYLES START */

header {
    padding: 10px 50px 10px 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  header h1 {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin: 0;
    padding:  5px 15px 5px 50px;
    font-size: 36px;
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */  
  /* Hero */
.hero {
    background: var(--tertiary-color);
    background-image: linear-gradient(to right, rgba(80,81,96,0.3), var(--secondary-color));
    height: 160px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.hero-image-background {
    background-image: url("../images/white-pattern.png");
    background-size: 330px;
    width: 100%;
    /* padding: 70px 0px 0px 0px; */
}


.hero-image-background > h2 {
    padding:  5px 15px; 
    font-size: 34px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    margin:60px 5% 0px 0px;
    float: right; 
}
/* Content Classes */
.content {
    width: 90%;
    margin: 30px auto; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-title {
    flex: 20%;
    text-align: right;
    padding-right: 20px;
    font-size: 35px;
    color: var(--tertiary-color);
    border-right: 3px solid var(--tertiary-color);
}
.content-info {
    flex: 80%;
    padding: 0px 0px 0px 20px;
}
.image img {
    width:150px;
    margin-right: 20px;
}
.content-info p {
    padding: 0px 0px 15px 0px;
    color: var(--quaternary-color);
    font-size: 16px;
}
.left {
    float: left;
}

/* Work Section */
.item1 { grid-area: a; }
.item2 { grid-area: b; }
.item3 { grid-area: c; }
.item4 { grid-area: d; }
.item5 { grid-area: e; }

.grid-work {
    display: grid;
    width:100%;
    gap: 12px;
    grid-template:
    "a a" auto
    "b c" auto
    "d e" auto;
    grid-template-rows: 400px 200px 200px;
}

.work-item {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-color: var(--secondary-color);
    border: 5px solid var(--primary-color);
    color: var(--quaternary-color);
}
.work-item div {
    background-color: var(--primary-color);
    padding: 10px;
    margin: 0px 0px 20px 0px;
}
.work-item:hover {
    background-color: var(--tertiary-color);
}

.horiseon {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: 150%;
}

.sky{
    background-image: url("../images/template1.jpg");
}

.blue {
    background-image: url("../images/template2.jpg");
}

/* Contact Me section */
.my-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.my-contacts a{
    text-decoration: underline;
    color: var(--quaternary-color);
    font-size: 20px;
}
.my-contacts a:hover{
 color: var(--tertiary-color);

}
/* MEDIA QUERY FOR TABLETS MOBILE PHONES AND SMALLER */
@media screen and (max-width: 800px) {
    header {
        padding: 10px 15px;
        flex-direction: column;
      }
      
      header h1 {
        padding:  5px 15px;
        font-size: 30px;
      }
      
      header nav ul li a {
        font-size: 20px;
      }
    .hero {
        height: 100px;
    }
    .hero-image-background > h2 {
        padding:  5px 15px; 
        font-size: 25px;
        margin:30px 0px ;
        align-content: center;
        float: right;  
    }
    .content {
        margin:auto;
        width:100%;
        flex-direction: column;
    }
    .content-title {
        flex: 100%;
        margin: 5px;
        text-align: center;
        font-size: 28px;
        border-right: none;
    }
    .content-info {
        flex: 100%;
        margin: 5px;
        padding: 5px;
        
    }
    .content-info p{
        font-size: 14px;
    }
    
}
